html, body, canvas {
  margin: 0;
  padding: 0;
}

canvas {
  position: absolute;
}

video {
  position: absolute;
  z-index: 1;
}

#controls {
  position: absolute;
  right: 20px;
  top: 20px;
  z-index: 1;
}